*{
    margin: 0px;
    padding: 0px;
}
html{
    scroll-behavior: smooth;
}
.container {
    display: grid;
    grid-gap: 2rem;
    background-image: url(background_1.jpg);
    grid-template-areas:
        'navbar navbar navbar navbar'
        'logo logo logo logo'
        'section_1 section_1 section_1 section_1 ';
}

.item {
    /* background-color: bisque; */
    /* border: 2px solid black; */
    padding: 12px 12px;
    margin: 12px 6px;
}

#navbar {
    grid-area: navbar;
    
}

#logo {
    grid-area: logo;
    text-align: center;
    height: 4rem;
}

#section_1 {
    grid-area: section_1;
    text-align: center;
    height: 150px;
    margin: 100px;
    
}

#navbar span {
    margin: 10px 10px;
    padding: 10px 10px;
    border-radius: 12px;
    background-color: black;
    color: white;
    font-size: 1rem;
}

#navbar span:hover {
    background-color: aliceblue;
    color: black;
    text-decoration: underline;
    font-weight: bold;
    font-size: 18px;
    cursor: pointer;
    text-shadow: 1px 1px 2px black;
}

#logo img{
    height:160px ;
}
#section_1 h1{
    font-weight: bolder;
    font-size: 3rem;
    text-shadow: 3px 1px 14px #201a1a;
}
#section_1 p{
    font-size: 1.5rem;
    text-align: center;
}

/* second part */
.container2{
  
    background-color: grey;
    height: 500px;
}


.set{
    display: flex;
}

.box{
    display: flex;
    flex-direction: column;
   /* border: 2px solid green; */
   justify-content: center;
   align-items: center;
   margin: 30px;
   height: 280px;
   
}
.box img{
    height: 150px;
    display: block;
    margin: auto;
    
}
.box p{
    margin: 6px;
   
}
#heading{
    font-size: 2.6rem;
    padding-top: 18px;
}



/* utility class */
.center{
    text-align: center;
}

/* third part */
.container3{
   
    height: 100px;
}

.container3::before{
    position: absolute;
    content: "";
    background-color: rgb(135, 119, 88);
    width: 100%;
    height: 800px;
    z-index: -1;
    opacity: 1;
}

#data{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 216px;
    padding-bottom: 32px;
    padding-top: 96px;
    margin: 100px;
    
}

#data input,
#data textarea{
    width: 100%;
    padding: 0.5rem;
    border-radius: 12px;
    font-size: 0.8rem;  
}
#data label{
    font-size: 1rem;
}
#heding2{
    padding-top: 18px;
    font-size: 2.6rem;
}
.btn{
    border: none;
    cursor: pointer;
    background-color: rgb(2, 5, 4);
    color: white;
    border-radius: 4px;
    padding: 12px;
    margin: 12px;
}
.btn:hover{
    background-color: rgb(147, 129, 129);
    color: black;
    font-weight: bold;
    font-size: 14px;
}


/* making it responsive */



@media (max-width:500px) and (min-width:300px) {
   
   .set{
    flex-direction: column;
}
.box{
    height: 250px;
}
.container2{
    height: 710px;
}

.container{
    height: 650px;
    grid-gap: 1rem;
}
#navbar{
    text-align: center;
    height: 2rem;
}
#navbar span{
    margin: 0px 7px;
    font-size: 0.8rem;
}
#logo{
    height: 8rem;
}
#logo img{
    height: 130px;
}
#section_1{
    margin: 2px;
    height: 302px;
}
#section_1 p{
    font-size: 1.3rem;
}
#section_1 h1{
    font-size: 2.5rem;
}
.item{
    padding: 15px 7px;
    margin: 0px 2px;
}
}

@media (max-width:800px) and (min-width:500px) {

    
    .set{
        flex-direction: column;
    }
    .box{
        height: 250px;
    }
    .container2{
        height: 690px;
    }

    .container{
        height: 650px;
        grid-gap: 1rem;
    }
    #navbar{
        text-align: center;
        height: 2rem;
    }
    #logo{
        height: 8rem;
    }
    #logo img{
        height: 150px;
    }
    #section_1{
        margin: 2px;
        height: 302px;
    }
    .item{
        padding: 15px 7px;
        margin: 0px 2px;
    }
}







